*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    height: 500px;
    width: 200;
    border: 2px solid black;
    margin: auto;
    margin-top: 40px;
}
.form{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    background-attachment: whitesmoke;
}
.form h1{
    font-size: 3rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 40px;
}
.form{
    padding: 10px;
    width: 50%;
    margin: 10;
    border: 1px solid black;
    outline: none;
    border-radius: 0px;
}

.box{
    padding: 10px;
    width: 50%;
    margin: 15;
    border: 1px solid black;
    outline: none;
    border-radius: 20px;
}

.btn-signup{
    padding: 12px 30px;
    width: 40%;
    margin-top: 40px;
    background-color: blue;
    color: white;
    font-weight: bold;
    border: none;
    border: none;
    border-radius: 20px;
}
.btn-signup:hover{
    cursor: pointer;
    background: skyblue;
}


.side img{
    display: flex;
    justify-content: center;
    
}
.side img{
    width: 450;
    height: 450px;
}